body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container login */
.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

/* Judul */
.login-box h2 {
    margin-bottom: 20px;
}

/* Input */
.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button */
.login-box button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: #00c6ff;
}

/* Result */
.success {
    color: green;
}

.fail {
    color: red;
}